//Colors
$black: #000;
$white: #fff;
$brownie:#D0C5B6;
$grey:#808080;
$lightgrey:#D9D9D9;
$dark:#333333;
$extradark:#303030;


//Break point:
$mobile-breakpoint: 600px;
$laptop-breakpoint: 968px;

//import font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap')