.titleslider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  margin: 0% 4% 0;
  @media (max-width: $laptop-breakpoint) {
    flex-flow: column;
    height: auto;
  }

  &__left {
    width: 50%;
    height: 100%;
    @media (max-width: $laptop-breakpoint) {
      width: 100%;
    }
    h3 {
      font-size: 68px;
      @media (max-width: $laptop-breakpoint) {
        font-size: 40px;
        text-align: center;
      }
    }
    p {
      max-width: 50%;
      font-family: "Merriweather", serif;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
      line-height: 2em;
      @media (max-width: $laptop-breakpoint) {
        max-width: none;
      }
    }
  }
  &__right {
    height: 100%;
    display: flex;
    flex-flow: row;
    width: 50%;
    @media (max-width: $laptop-breakpoint) {
      width: 100%;
      flex-flow: column;
      padding: 0 5% 0;
    }

    background-color: $lightgrey;
    &__image {
      position: relative;
      width: 50%;
      @media (max-width: $laptop-breakpoint) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        position: absolute;
        width: 500px;
        left: -80%;
        top: 25%;
        transition: 0.5s ease-in-out;
        @media (max-width: $laptop-breakpoint) {
          position: relative;
          width: auto;
          left: auto;
          top: auto;
          width: 80%;
          height: 80%;
          padding-top: 20px;
        }
      }
    }
    &__text {
      top: 25%;
      width: 50%;
      position: relative;
      height: 75%;
      @media (max-width: $laptop-breakpoint) {
        width: 80%;
        top: auto;
        height: auto;
        margin: 0% 10%;
      }
      h5 {
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 18px;
      }
      h6 {
        padding: 0;
        margin: 5% 0 5% 0;
        color: $brownie;
        font-family: "Montserrat", sans-serif;
      }
      h2 {
        font-size: 36px;
        font-weight: 400;
        margin: 5% 0px;
        padding: 0;
      }
      &__arrow {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: row;
        @media (max-width: $laptop-breakpoint) {
          justify-content: center;
          min-height: 100px;
        }
        div {
          cursor: pointer;
          margin: 2% 5%;
        }
      }
    }
  }
}
